@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto_Condensed-Regular.ttf");
}
@font-face {
    font-family: Playfare;
    src: url("./fonts/PlayfairDisplay-Regular.ttf");
}

@import "tailwindcss";

body {
    background-color: #EBF4F6;
    margin: 0;
}
/* #FFFBF1 */

@theme{
    --font-heading: Roboto, "sans-serif";
    --font-body: Playfare, "sans-serif";
}