@font-face {
    font-family: Roboto;
    src: url("./fonts/Roboto_Condensed-Regular.ttf");
}
@font-face {
    font-family: Playfare;
    src: url("./fonts/PlayfairDisplay-Regular.ttf");
}

@import "tailwindcss";

body {
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)),url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-color:#BFC9D1;
    position: relative;
    margin: 0;
}
/* #FFFBF1 */

@theme{
    --font-heading: Roboto, "sans-serif";
    --font-body: Playfare, "sans-serif";
}